extends layout

block content
  p Login
  form(role='form', action="/api/login", method="post")
    input(type='text', name="email")
    input(type='password', name="password")
    button(type='submit') Submit
    a(href='/api')
      button(type="button") Cancel
